doctype html
html(lang="en")
    head
        include includes/head
        +stylesheet("/static/results.css")
        title Results
    body 
        p
            a(href="/") Go back to search
        p
            unless anon
                a(href="/favorites") Go to favorites
            else
                a(href="/login") Sign in to save classes
        
        unless matches.length == 0
            table(cellspacing="0")
                tr 
                    th +
                    th Type
                    th Course Code
                    th Course Name 
                    th Instructor(s)
                    th Section
                    th Course Days 
                    th Course Room
                    th Time
                    th Status
                each match in matches
                    tr
                        td.btn= match.isFavorite ? "-" : "+"
                        td(hidden)= match.Class
                        td= match.Type
                        td= match.Course
                        td!= match.Title
                        td= match.Instructors
                        td= match.Section
                        td= match.Days 
                        td= match.Room
                        td= match.Time
                        td.collapse(class=match.Status.replace(" w/ ", "_").toLowerCase())= match.Status
        else 
            p No classes found
        if anon
            a(href=`/login?goto=${url}` anonymous="true" hidden) Sign in to save classes
        script(src="/static/scripts/script.js") 